body #root .bottombar{
    /* position: fixed; */
    /* left: 0;
    top: 0; */
    display: flex;
    gap: 10px;
    height: 50px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--bg-light);
    border: 0;
    box-shadow: var(--shadow);
    flex-direction: row;
    padding: 5px 5px;
    /* gap: 7vw; */

    box-sizing: border-box;
    z-index: 1000;
}

.bottombar a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    width: 15vw;
}
.bottombar a:hover{
    background-color: #0000;
}

#root .bottombar-element .element-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s;
}

#root .bottombar-element a .icon{
    min-height: 20px;
    min-width: 20px;
}