.theme-switch-wrapper .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.theme-switch-wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-light);
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}
.theme-switch-wrapper .slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px var(--text-main);
}
.theme-switch-wrapper .switch input:checked + .slider {
  background-color: #5e8ff1;
}
.theme-switch-wrapper .switch input:checked + .slider:before {
  transform: translateX(1.5em);
  box-shadow: inset 15px -4px 0px 15px #0000;
  box-shadow: inset 15px -4px 0px 15px hwb(44 37% 0%);  background-repeat: no-repeat;
  background-size: 20px;
}
.theme-switch-wrapper .star {
  background-color: var(--text-main);
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}
.theme-switch-wrapper .star_1 {
  left: 2em;
  top: 0.5em;
}
.theme-switch-wrapper .star_2 {
  left: 2.2em;
  top: 1.2em;
}
.theme-switch-wrapper .star_3 {
  left: 2.8em;
  top: 0.7em;
}
.theme-switch-wrapper .switch input:checked ~ .slider .star {
  opacity: 0;
}
.theme-switch-wrapper .cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.2em;
  left: -1.2em;
  opacity: 0;
  transition: all 0.4s;
}
.theme-switch-wrapper .switch input:checked ~ .slider .cloud {
  opacity: 1;
}

.icon {
  width: 15px;
  height: 15px;
  z-index: 1;
}
.static-icon {
  width: 15px;
  height: 15px;
  z-index: 1;
}
.reversed-icon {
  filter: invert(0.9);
  z-index: 1;
}

@media (max-width: 768px) {
  body .theme-switch-wrapper .switch {
    height: 1.8em;
  }
  body .theme-switch-wrapper .cloud {
    bottom: -1.4em;
  }
  body .theme-switch-wrapper .switch input + .slider:before {
    bottom: 0.4em;
  }
  body .theme-switch-wrapper .switch input:checked + .slider:before {
    bottom: 0.4em;
  }
}